html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** {
  outline: black solid 1px;
}*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  position: absolute;
  top: 200px;
  margin: 0 35%;
  width: 30%;
  height: 40px;
}

.reset-button {
  position: absolute;
  top: 200px;
  margin: 0 35%;
  width: 30%;
  height: 40px;
}

.game-over-message {
  position: absolute;
  top: 20px;
  margin: 0 35%;
  width: 30%;
  height: 40px;
  font-family: sans-serif;
  color: black;
}

#game {
  outline: black solid 1px;
  background-image: url("img/bg.png")
}

header {
  display: flex;
  justify-content: center;
}

.start-page {
  font-family: sans-serif;
  font-weight: 400;
}

.previous-score {
  font-family: sans-serif;
  font-weight: 300;
  margin-left: 5%;
  margin-top: 5%;
}

.score {
  font-family: sans-serif;
  font-weight: 300;
  margin-left: 5%;
}

.high-score {
  font-family: sans-serif;
  font-weight: 300;
  margin-left: 5%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btn {
  background: #aa34d9;
  background-image: -webkit-linear-gradient(top, #aa34d9, #2b32b8);
  background-image: -moz-linear-gradient(top, #aa34d9, #2b32b8);
  background-image: -ms-linear-gradient(top, #aa34d9, #2b32b8);
  background-image: -o-linear-gradient(top, #aa34d9, #2b32b8);
  background-image: linear-gradient(to bottom, #aa34d9, #2b32b8);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 27px;
  padding: 2px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c89;
  background-image: -webkit-linear-gradient(top, #fc3c89, #2b32b8);
  background-image: -moz-linear-gradient(top, #fc3c89, #2b32b8);
  background-image: -ms-linear-gradient(top, #fc3c89, #2b32b8);
  background-image: -o-linear-gradient(top, #fc3c89, #2b32b8);
  background-image: linear-gradient(to bottom, #fc3c89, #2b32b8);
  text-decoration: none;
}
