html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: black solid 1px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  position: absolute;
  top: 20px;
  margin: 0 35%;
  width: 30%;
  height: 40px;
}

#game {
  background: black;
}

header {
  display: flex;
  justify-content: center;
}

.start-page {
  font-family: sans-serif;
  font-weight: 400;
}

.previous-score {
  font-family: sans-serif;
  font-weight: 300;
  margin-left: 5%;
  margin-top: 5%;
}

.score {
  font-family: sans-serif;
  font-weight: 300;
  margin-left: 5%;
}

.high-score {
  font-family: sans-serif;
  font-weight: 300;
  margin-left: 5%;
}

.button-container {
  display: flex;
  justify-content: center;
}
